In [1]:
import numpy as np
import pandas as pd

In [2]:
X = pd.DataFrame([[9, 3]])
np.random.RandomState(0).normal(loc=1.0, scale=0.02, size=X.shape[1])

array([1.03528105, 1.00800314])

In [14]:
arr = [[2, 5, 6],
       [2, 2, 2]]
errors = [3, 1]
X1 = pd.DataFrame(arr)
X1

   0  1  2
0  2  5  6
1  2  2  2

In [4]:
X1.T.dot(errors)

0     8
1    17
2    20
dtype: int64

In [5]:
X1 = pd.DataFrame(arr)
X1 = X1.T.dot(errors) / X1.shape[0]
X1

0     4.0
1     8.5
2    10.0
dtype: float64

In [6]:
X1.shape[0]

3

In [39]:
X2 = pd.DataFrame({'1': [1, 2, 3], 2: [4, 5, 6]})
X2

   1  2
0  1  4
1  2  5
2  3  6

In [40]:
X2[:,0]

TypeError: '(slice(None, None, None), 0)' is an invalid key