In [53]:
import numpy as np
import pandas as pd

In [54]:
X = pd.DataFrame([[9, 3]])
np.random.RandomState(0).normal(loc=1.0, scale=0.02, size=X.shape[1])

array([1.03528105, 1.00800314])

In [59]:
arr = [[2, 5, 6],
       [2, 2, 2]]
errors = [3, 1]
X1 = pd.DataFrame(arr)
X1.T

   0  1
0  2  2
1  5  2
2  6  2

In [60]:
X1.T.dot(errors)

0     8
1    17
2    20
dtype: int64

In [39]:
X1 = pd.DataFrame(arr)
X1 = X1.T.dot(errors) / X1.shape[0]
X1

0    2.0
1    3.5
2    4.0
dtype: float64

In [42]:
X1.shape[0]

3