In [1]:
import numpy as np
import pandas as pd

In [2]:
X = pd.DataFrame([[9, 3]])
np.random.RandomState(0).normal(loc=1.0, scale=0.02, size=X.shape[1])

array([1.03528105, 1.00800314])

In [3]:
arr = [[2, 5, 6],
       [2, 2, 2]]
errors = [3, 1]
X1 = pd.DataFrame(arr)
X1

   0  1  2
0  2  5  6
1  2  2  2

In [4]:
X1.T.dot(errors)

0     8
1    17
2    20
dtype: int64

In [5]:
X1 = pd.DataFrame(arr)
X1 = X1.T.dot(errors) / X1.shape[0]
X1

0     4.0
1     8.5
2    10.0
dtype: float64

In [6]:
X1.shape[0]

3

In [7]:
X2 = pd.DataFrame({'1': [1, 2, 3], '2': [4, 5, 6]})
X2

   1  2
0  1  4
1  2  5
2  3  6

In [9]:
X2[:0]

Empty DataFrame
Columns: [1, 2]
Index: []

In [1]:
from itertools import combinations



# for i in combinations([1, 2, 3, 4, 5, 6, 7, 8,9 , 10, 11, 12, 13], r=2):
#     print(i)

In [90]:
# num_rows, num_cols = 6, 5


nS = num_rows * num_cols
# nA = len(action_defs)
grid2state_dict = {(s // num_cols, s % num_cols): s for s in range(nS)}
state2grid_dict = {s: (s // num_cols, s % num_cols) for s in range(nS)}

state2grid_dict

{0: (0, 0),
 1: (0, 1),
 2: (0, 2),
 3: (0, 3),
 4: (0, 4),
 5: (1, 0),
 6: (1, 1),
 7: (1, 2),
 8: (1, 3),
 9: (1, 4),
 10: (2, 0),
 11: (2, 1),
 12: (2, 2),
 13: (2, 3),
 14: (2, 4),
 15: (3, 0),
 16: (3, 1),
 17: (3, 2),
 18: (3, 3),
 19: (3, 4),
 20: (4, 0),
 21: (4, 1),
 22: (4, 2),
 23: (4, 3),
 24: (4, 4),
 25: (5, 0),
 26: (5, 1),
 27: (5, 2),
 28: (5, 3),
 29: (5, 4)}