In [1]:
import numpy as np
import pandas as pd

In [2]:
X = pd.DataFrame([[9, 3]])
np.random.RandomState(0).normal(loc=1.0, scale=0.02, size=X.shape[1])

array([1.03528105, 1.00800314])

In [3]:
arr = [[2, 5, 6],
       [2, 2, 2]]
errors = [3, 1]
X1 = pd.DataFrame(arr)
X1

   0  1  2
0  2  5  6
1  2  2  2

In [4]:
X1.T.dot(errors)

0     8
1    17
2    20
dtype: int64

In [5]:
X1 = pd.DataFrame(arr)
X1 = X1.T.dot(errors) / X1.shape[0]
X1

0     4.0
1     8.5
2    10.0
dtype: float64

In [6]:
X1.shape[0]

3

In [7]:
X2 = pd.DataFrame({'1': [1, 2, 3], '2': [4, 5, 6]})
X2

   1  2
0  1  4
1  2  5
2  3  6

In [9]:
X2[:0]

Empty DataFrame
Columns: [1, 2]
Index: []

In [18]:
from itertools import combinations



for i in combinations([1, 2, 3, 4, 5, 6, 7, 8,9 , 10, 11, 12, 13], r=2):
    print(i)

(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(1, 7)
(1, 8)
(1, 9)
(1, 10)
(1, 11)
(1, 12)
(1, 13)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(2, 7)
(2, 8)
(2, 9)
(2, 10)
(2, 11)
(2, 12)
(2, 13)
(3, 4)
(3, 5)
(3, 6)
(3, 7)
(3, 8)
(3, 9)
(3, 10)
(3, 11)
(3, 12)
(3, 13)
(4, 5)
(4, 6)
(4, 7)
(4, 8)
(4, 9)
(4, 10)
(4, 11)
(4, 12)
(4, 13)
(5, 6)
(5, 7)
(5, 8)
(5, 9)
(5, 10)
(5, 11)
(5, 12)
(5, 13)
(6, 7)
(6, 8)
(6, 9)
(6, 10)
(6, 11)
(6, 12)
(6, 13)
(7, 8)
(7, 9)
(7, 10)
(7, 11)
(7, 12)
(7, 13)
(8, 9)
(8, 10)
(8, 11)
(8, 12)
(8, 13)
(9, 10)
(9, 11)
(9, 12)
(9, 13)
(10, 11)
(10, 12)
(10, 13)
(11, 12)
(11, 13)
(12, 13)